#titulo1{
    font-size: 80px;
    color:  rgba(253, 233, 184, 0.64);
    text-align: center;
    margin-top: 10%;
    margin-bottom: 20px;
}
.titulo3{
    font-size: 40px;
    color: rgba(255, 255, 255, 0.8);
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* FORMULARIO ================================================================================================================================================================================*/
/*============================================================================================================================================================================================*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(rgba(0, 0, 0 , 0), rgba(0, 0, 0, 0)) ,url("../../img/pexels-dương-nhân-1263870.jpg");
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 15px;
    padding: 5px;
    color: white;
}

.wrap {
    width: 90%;
    max-width: 500px;
    padding: 40px;
    margin: auto;
}
.contenedor-formulario {
    width: 100%;
    color: rgba(255, 255, 255, 0.7);
    padding: 50px;
    font-stretch: expanded;
}
.contenedor-formulario .formulario {
    width: 100%;
    margin: auto;
    backdrop-filter: blur(30px);
    padding: 40px;

}

.contenedor-formulario .formulario .input-group {
    position: relative;
    margin-bottom: 32px;
}
.contenedor-formulario .formulario .input-group input[type="text"],
.contenedor-formulario .formulario .input-group input[type="email"],
.contenedor-formulario .formulario .input-group input[type="text2"] {
    font-family: "Roboto", Arial;
    font-size: 16px;
    color: #141414;
    width: 100%;
    outline: none;
    padding: 15px;
    background: none;
    border: none;
    border-bottom: 1px solid rgba(255,255,255,0.5);
    transition: all 0.1s ease;
}
.contenedor-formulario .formulario .input-group input[type="text"]:focus,
.contenedor-formulario .formulario .input-group input[type="text"]:active,
.contenedor-formulario .formulario .input-group input[type="email"]:focus,
.contenedor-formulario .formulario .input-group input[type="email"]:active,
.contenedor-formulario .formulario .input-group input[type="text2"]:focus,
.contenedor-formulario .formulario .input-group input[type="text2"]:active{
    outline: none;
    border-bottom: 2px solid white;
}
.contenedor-formulario .formulario .input-group input[type="text"].error,
.contenedor-formulario .formulario .input-group input[type="email"].error,
.contenedor-formulario .formulario .input-group input[type="text2"].error{
    border-bottom: 2px solid #D32F2F;
}
.contenedor-formulario .formulario .input-group input[type="text"].error + label,
.contenedor-formulario .formulario .input-group input[type="email"].error + label,
.contenedor-formulario .formulario .input-group input[type="text2"].error{
    color: #D32F2F;
}
.contenedor-formulario .formulario .input-group label.label{
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    margin-left: 15px;
    font-size: 16px;
    line-height: 16px;
    position: absolute;
    top: 16px;
    left: 0;
}

.contenedor-formulario .formulario .input-group label.label.active {
    top: -12px;
    font-size: 12px;
    line-height: 12px;
    color: rgba(255,255,255,0.5);
}
.contenedor-formulario .formulario .input-group.radio label {
    display: inline-block;
    cursor: pointer;
    color: rgba(255,255,255,0.7);
    position: relative;
    padding: 5px 15px 5px 51px;
    font-size: 1em;
    border-radius: 3px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.contenedor-formulario .formulario .input-group.radio label:hover {
    background: rgba(255,255,255,0.3);
}
.contenedor-formulario .formulario .input-group.radio label:before {
    content: "";
    display: inline-block;
    width: 17px;
    height: 17px;
    position: absolute;
    left: 15px;
    top: 2px;
    border-radius: 50%;
    background: none;
    border: 2px solid white;
}
.contenedor-formulario .formulario .input-group.error label{
    color: #D32F2F;

}
.contenedor-formulario .formulario .input-group.error label:before {
    border: 2px solid #D32F2F;
}
.contenedor-formulario .formulario .input-group.error label:hover {
    background: rgba(211, 47, 47, 0.2);
}
.contenedor-formulario .formulario .input-group.radio input[type="radio"] {
    display: none;
}
.contenedor-formulario .formulario .input-group.radio input[type="radio"]:checked + label:before {
    display: none;
}
.contenedor-formulario .formulario .input-group.radio input[type="radio"]:checked + label {
    padding: 5px 15px;
    background: white;
    border-radius: 2px;
    color: #ffcc08;
}
.contenedor-formulario .formulario input[type="submit"] {
    background: rgba(255,255,255,0.5);
    border: none;
    color: #ffcc08;
    cursor: pointer;
    display: inline-block;
    font-family: "Roboto", Arial;
    font-size: 16px;
    padding: 15px;
    width: 100%;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.contenedor-formulario .formulario input[type="submit"]:hover {
    background: white;
}

/* ===================================NAV========================================= */
/* =============================================================================== */

<!-- NAV -->

/* NAVIGATION */
nav {
    width: 80%;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.64);
    padding: 50px 0;
    box-shadow: 0px 5px 0px #dedede;
}
nav ul {
    list-style: none;
    text-align: center;
}
nav ul li {
    display: inline-block;
}
nav ul li a {
    display: block;
    padding: 15px;
    text-decoration: none;
    color: #aaa;
    font-weight: 800;
    text-transform: uppercase;
    margin: 0 10px;
}
nav ul li a,
nav ul li a:after,
nav ul li a:before {
    transition: all .5s;
}
nav ul li a:hover {
    color: #555;
}

/* Circle */
nav.circle ul li a {
    position: relative;
    overflow: hidden;
    z-index: 1;
}
nav.circle ul li a:after {
    display: block;
    position: absolute;
    margin: 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    content: '.';
    color: transparent;
    width: 1px;
    height: 1px;
    border-radius: 50%;
    background: transparent;
}
nav.circle ul li a:hover:after {
    -webkit-animation: circle 1.5s ease-in forwards;
}


/* Keyframes */
@-webkit-keyframes circle {
    0% {
        width: 1px;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        margin: auto;
        height: 1px;
        z-index: -1;
        background: rgba(255, 245, 231, 0.85);;
        border-radius: 100%;
    }
    100% {
        background: #aaa;
        height: 5000%;
        width: 5000%;
        z-index: -1;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        border-radius: 0;
    }
}

/* ===================================NAV========================================= */
/* =============================================================================== */

/* ===================================TABLA======================================= */
/* =============================================================================== */

#contenedor1{
    padding: 500px 0px 500px 0;
}
#contenedor2{
    margin-top: 200px;
}

.blue { color: #185875; }
.yellow { color: #FFF842; }

.container th h1 {
    font-weight: bold;
    font-size: 1em;
    text-align: left;
    color: #185875;
}

.container td {
    font-weight: normal;
    font-size: 1em;
    -webkit-box-shadow: 0 2px 2px -2px #0E1119;
    -moz-box-shadow: 0 2px 2px -2px #0E1119;
    box-shadow: 0 2px 2px -2px #0E1119;
}

.container {
    text-align: left;
    overflow: hidden;
    width: 80%;
    display: table;
    padding: 30px  0px  30px 0;

}

.container td, .container th {
    padding-bottom: 2%;
    padding-top: 2%;
    padding-left:2%;
}

/* Background-color of the odd rows */
.container tr:nth-child(odd) {
    background-color: rgba(169, 169, 169, 0.47);
    backdrop-filter: blur(6px);
}

/* Background-color of the even rows */
.container tr:nth-child(even) {
    background-color: rgba(255, 255, 255, 0.48);
    backdrop-filter: blur(6px);
}

.container th {
    background-color: rgba(0, 0, 0, 0.63);
    backdrop-filter: blur(6px);
}

.container td:first-child { color: #000000; }

.container tr:hover {
    background-color: #464A52;
    -webkit-box-shadow: 0 6px 6px -6px #0E1119;
    -moz-box-shadow: 0 6px 6px -6px #0E1119;
    box-shadow: 0 6px 6px -6px #0E1119;
}

.container td:hover {
    background-color: #ffffff;
    color: #000000;
    font-weight: bold;

    box-shadow: #7F7C21 -1px 1px, #7F7C21 -2px 2px, #7F7C21 -3px 3px, #7F7C21 -4px 4px, #7F7C21 -5px 5px, #7F7C21 -6px 6px;
    transform: translate3d(6px, -6px, 0);

    transition-delay: 0s;
    transition-duration: 0.4s;
    transition-property: all;
    transition-timing-function: line;
}

@media (max-width: 800px) {
    .container td:nth-child(4),
    .container th:nth-child(4) { display: none; }
}

/* ===================================TABLA======================================= */
/* =============================================================================== */