<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/css/diario/evento.css}" rel="stylesheet">


</head>
<body>

    <h1>Evento</h1>
    <form>
        <label for="titulo">TITULO</label><br>
        <input type="text" id="titulo" name="titulo" value="Las 48 leyes del poder"><br>
        <label for="fecha">FECHA</label><br>
        <input type="text" id="fecha" name="fecha" value="Robert Greene"><br>
        <label for="lugar">LUGAR</label><br>
        <input type="text" id="lugar" name="lugar" value=" es un libro interesante y provocativo que puede brindar una perspectiva..."><br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>