<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">

    <title>index</title>
    <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/webjars/font-awesome/css/all.css}" rel="stylesheet">
    <link th:href="@{/css/entrada/index.css}" rel="stylesheet">



</head>

<body>

<main>
    <h1>Index</h1>
    <h1 sec:authorize="isAuthenticated()" id="m1">Bienvenido <span sec:authentication="name"></span></h1>
    <button onclick="window.location.href='/main/home'" class="btn-5"><span>HOME</span></button>
    <form action="javascript:document.getElementById('logoutForm').submit()">
        <button class="btn-4"><span>CERRAR SESIÓN</span></button>
    </form>
    <form th:action="@{/logout}" method="post" id="logoutForm"></form>

</main>

<script th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>

</body>
</html>